nav {
    /* padding-top: 70px;
    padding-bottom: 30px; */
    background: #780206;  
    background: -webkit-linear-gradient(to right, #061161, #780206); 
    background: linear-gradient(to right, #061161, #780206);
  }

  #info {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  
  .theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  
  .theme-showcase .navbar .container {
    width: auto;
  }

  .rightTab{
    display: inline-block;
    text-align: left;
    font-family:Verdana;
    max-width: 70%;
    width: 40%;
    height: 40%;
    vertical-align: top;
    margin: auto;
  }

  .navbar-brand{
    font-size:2rem;
    font-weight: 500;
    color:white;
    
   }
   .bow{
    margin-bottom: 80px;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.top{
    margin-top: 30px;
}
