{% extends 'pbase.html' %}
{% block body %}
<script>
    function filter_doc(department){
        console.log(department.slice(-3,-1))
        var d=department.indexOf(',')
        console.log(d)  // Function to get the dept and doc name from the chosen option
        document.getElementById('doc').value = department.slice(2,d-1)  // Slice doc name
        document.getElementById('id').value = department.slice(-3,-1); 
        department=department.slice(d+3,-5)                     // Slice dept name
        document.getElementById('dept').value = department;  
       
    }

</script>

<style>
    .rightTab{
    display: inline-block;
    text-align: left;
    max-width: 70%;
    width: 40%;
    height: 40%;
    vertical-align: top;
    margin: auto;
  }
</style>

<div class="container theme-showcase col-sm-6 col-sm-offset-3" id='info' role="main">

    <div class="row">
      <div>

        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">Book an appointment</h3>
          </div>

          <div class="panel-body">

            <form method="POST" action="">
              <div class="form-group">

                <div class="form-group">
                    <label for="department">Available doctors: <br>

                        <select name=department method="GET" action="/" onchange="filter_doc(this.value)">
                            <option value= ""></option>
                            {% for doc in docs %}
                                <option value= "{{doc}}">{{doc[0]}}, {{doc[1]}}</option>
                            {% endfor %}
                        </select>

                    </label>
                </div>

                <div class="form-group">
                    <label for="doc">Selected Doctor
                        <input type="text" class="form-control" id="doc" name="doc" placeholder="" required>
                    </label>
                </div> 

                 <div class="form-group">
                    <label for="dept">Selected Department
                        <input type="text" class="form-control" id="dept" name="dept" placeholder="" required>
                    </label>
                </div>

                <!-- <div class="form-group">
                    <label for="desc">Description/Symptoms
                        <input type="text" class="form-control" id="desc" name="desc" placeholder="" required>
                    </label>
                </div> -->

                <div class="form-group">
                    <label id="symptomscheck">Which of these symptoms are you experiencing?:</label>
                    <div class="rightTab">
                        <ul style="list-style:none;">
                            <li class="checkboxes">
                                <label><input name="symptom" value="Headache" type="checkbox" > Headache</label>
                            </li>
                            <li class="checkboxes">
                                <label><input name="symptom" value="Fever" type="checkbox" > Fever</label>
                            </li>
                            <li class="checkboxes">
                                <label><input name="symptom" value="Fatigue" type="checkbox" > Fatigue</label>
                            </li>
                            <li class="checkboxes">
                                <label><input name="symptom" value="Cough" type="checkbox" > Cough</label>
                            </li>
                            <li class="checkboxes">
                                <label><input name="symptom" value="Chest Pain" type="checkbox" > Chest Pain</label>
                            </li>
                            <li class="checkboxes">
                                <label><input name="symptom" value="Dizziness" type="checkbox" > Dizziness</label>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>If other(s), please specify:</label>
                    <div class="rightTab">
                        <input class="input-field" type="text" name="other symptoms" size="25">
                    </div>
                </div>

                <div class="form-group">
                    <label>Please give a short description of your illness:</label><br>
                    <div class="rightTab">
                        <textarea name="desc" rows="10" cols="30" placeholder="Describe your symptoms"></textarea>
                    </div>
                </div>

                <div class="form-group"></div>
                <div class="form-group">
                    <label for="date">Enter date
                        <input type="date" class="form-control" id="date" name="date" placeholder="" required>
                    </label>
                </div>
              
                <div class="form-group">
                    <label for="time">Enter time
                        <input type="time" class="form-control" id="time" name="time" placeholder="" required>
                    </label>
                </div>
                <input type="" id="id" name="id" placeholder="" style="display: none;">
              
              <button type="submit" class="btn btn-primary">Book</button>
            </div>
            </form>
            </div>
        </div>
      </div>
    </div>

  </div>
  {%endblock%}