{%extends 'pindex.html' %}
{%block body%}
<div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

    <div class="row">
      <div>

        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>

          <div class="panel-body">

            <form method="POST" action="">
<!--Contents of Medication Table-->
              <div class="form-group">
            <div class="form-group">
                <label for="disease">Diseases Previously suffered</label>
                <input type="text" class="form-control" id="disease" name="disease"placeholder="">
              </div>

              <div class="form-group">
                <label for="med">Medications taken</label>
                <input type="text" class="form-control" id="med" name="med"placeholder="">
              </div>
              <div class="form-group">
                <label for="dos">Dosage</label>  <!-- Dosage currently given in text type changes required-->
                <input type="text" class="form-control" id="dos" name="dos"placeholder="">
              </div>
<!--Contents of History table-->   
              <div class="form-group">
                <label for="desc">Disease in Detail</label>  
                <input type="text" class="form-control" id="desc" name="desc"placeholder="">
              </div>        
              <div class="form-group">
                <label for="allergy">Allergies</label>  
                <input type="text" class="form-control" id="allergy" name="allergy"placeholder="">
              </div>  


              
              <button type="submit" class="btn btn-primary">Add</button>
            </form>


            <div class="page-header"></div>

            
          </div>

        </div>
      </div>
    </div>

  </div>
  {%endblock%}