
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>REVIVE</title>

    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='theme.css')}}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">REVIVE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/plogout">Logout</a></li>
              <li><a href="/pindex">Index</a></li>
              <li><a href="/history">Add History</a></li>
              <li><a href="/viewhistory">View History</a></li>
              <li><a href="/bookAppointment">Book Appointment</a></li>
              <li><a href="/UserviewAppointments">View Appointments</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="info">
      {% include "includes/_message.html" %}
      {%block body%}{%endblock%}
    </section>
  </body>
</html>
