<!-- There is difference in our pindex.html file. We'll have to change it.  -->

<!-- My pindex.html -->

{% extends 'base.html' %}
{% block body %}
{% with message = get_flashed_messages() %}
  {% if message %}
  {% for message in messages %}
  <li>{{ message }}</li>
{% endfor %}
  {% endif %}
{% endwith %}
        <h1>Home Page Patient</h1>
{% endblock %}

<!-- Anna's pindex.html -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>REVIVE</title>

    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='theme.css')}}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">REVIVE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Book Appointments</a></li>
            <li class="active"><a href="#">View History</a></li>
            <li class="active"><a href="#">Add History</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {%block body%}{%endblock%}
    </body>
    </html>
 -->
