

{% extends 'pbase.html' %}
{% block body %}

             
<!DOCTYPE html>
<html lang="en">
<head>
  <title>REVIVE</title>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <style>
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  </style>
</head>
<body>
  <br><br>
<div class="bg-1">
  <br><br>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-6">
        <div class="thumbnail" style="text-decoration:none !important; color:#171a1c !important; font-size:15px">
            <h1> Chronic Diseases</h1>
            {% for h in  diseases %}
            Description: {{h.desc}}<br>
            Allergies: {{h.allergy}}
            <br><br>
            <hr>
            {% endfor %}
        </div>
      </div>
      <div class="col-sm-6" >
        <div class="thumbnail" style="text-decoration:none !important; color:#171a1c !important; font-size:15px">
         <h1> History</h1>
         {% for h in medicines %}
          Disease: {{h.disease}}<br>
          Medicine: {{h.med}}<br>
          Dosage : {{h.dos}}
          <br><br>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

{% endblock %}

